/*Animacion imágenes de fondo*/
.carrusel {
    align-items: center;
    text-align: left;
    width: 100%;
    z-index: 2;
    margin: 0%;
    background-size: cover; /* Ajusta la imagen de fondo al ancho de la sección y la expande o disminuye */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen de fondo */
    position: absolute;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    0% {
        background-image: url(fotos-bienve/calabazas-carrusel.png);
    }

    25% {
        background-image: url(fotos-bienve/patatas-carrusel.png);
    }

    50% {
        background-image: url(fotos-bienve/carlotas-carrusel.png);
    }

    100% {
        background-image: url(fotos-bienve/melocotones-carrusel.png);
    }
}

/*Propiedades H1 y H3 del carrusel*/
.carrusel h1 {
    padding-left: 15%;
    padding-right: 25%;
    font-size: 120px;
    color: white;
    margin-bottom: 0%;
    margin-top: 20%;
}

.carrusel h3 {
    margin-top: 0%;
    padding-left: 15%;
    font-size: 30px;
    color: white;
}
#order {
    color: #23422f;
    background-color: white;
    text-align: center;
    height: 20px;
    width: 150px;
    margin-left: 15%;
    font-size: large;
    margin-top: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 9%;

}

/*Al pasar el mouse por el botón cambia a fondo naranja letras verdes*/
#order:hover{
    cursor: pointer; /*Se convierte en una mano el cursor*/
    transition: 1s;
    background-color: #fc8343;
    color: #23422f;
    text-align: center;
    height: 20px;
    width: 150px;
    margin-left: 15%;
    font-size: large;
    margin-top: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 9%;
}